/* Nav Header */
#header .header-nav {
    background: #232323;
}

#block_myaccount_infos .myaccount-title a,
#header a,
#wrapper .breadcrumb li a,
.block-contact .block-contact-title,
.block-contact .navbar-toggler .material-icons,
.linklist .blockcms-title a {
    color: #fff
}

#header a:hover {
    color: #cd0a0a;
    text-decoration: none
}

#header .header-nav .cart-preview.active {
    background: #cd0a0a;
}

/* Home Slider (Full-Width) */
.carousel {
    margin-bottom: 0;
}

.carousel .carousel-inner {
    height: 600px;
    background-color: #7a7a7a;
}

/* Products Gallery */
.product-flags li.product-flag {
    background: #cd0a0a;
}

.product-flags li.product-flag.discount,
.product-flags li.product-flag.discount-amount,
.product-flags li.product-flag.discount-percentage {
    background-color: #232323;
}

.product-miniature .highlighted-informations .quick-view {
    font-size: 1rem;
    color: #7a7a7a
}

.product-miniature .highlighted-informations .quick-view:hover {
    color: #cd0a0a;
}

/* Page Content */
.page-content.page-cms ul,
dl,
ol,
p,
ul {
    margin-top: 0;
    margin-bottom: 0;
}

/* Custom Text Block */
#custom-text {
    background: #cd0a0a;
}

#custom-text .page-content.page-cms ul .dark,
#custom-text p .dark,
.page-content.page-cms #custom-text ul .dark {
    font-size: 1.125rem;
    font-weight: 600;
    color: #f6f6f6;
}

#custom-text .page-content.page-cms ul,
#custom-text p,
.page-content.page-cms #custom-text ul {
    font-size: .875rem;
    font-weight: 400;
    color: #f6f6f6;
}

#custom-text h2 {
    color: #f6f6f6;
}