#header .header-nav {
    background: #232323;
}

#block_myaccount_infos .myaccount-title a,
#header a,
#wrapper .breadcrumb li a,
.block-contact .block-contact-title,
.block-contact .navbar-toggler .material-icons,
.linklist .blockcms-title a {
    color: #fff
}

#header .header-nav .cart-preview.active {
    background: #cd0a0a;
}